<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testt">

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.OnboardingActivity" android:exported="false" />
        <activity android:name=".activity.MainActivity" android:exported="false" />
        <activity android:name=".activity.LoginActivity" android:exported="false" />
        <activity android:name=".activity.RegisterActivity" android:exported="false" />
        <activity android:name=".activity.ForgotPasswordActivity" android:exported="false" />

        <activity android:name=".activity.ProductListActivity" android:exported="false" />
        <activity android:name=".activity.ProductDetailActivity" android:exported="false" />

        <activity android:name=".activity.CartActivity" android:exported="false" />
        <activity android:name=".activity.ShippingAddressActivity" android:exported="false" />
        <activity android:name=".activity.PaymentMethodActivity" android:exported="false" />
        <activity android:name=".activity.OrderConfirmActivity" android:exported="false" />
        <activity android:name=".activity.PayOSPaymentActivity" android:exported="false" />
        <activity android:name=".activity.OrderSuccessActivity" android:exported="false" />
        <activity android:name=".activity.TrackOrderActivity" android:exported="false" />
        <activity android:name=".activity.OrderHistoryActivity" android:exported="false" />

        <activity android:name=".activity.AddressManagementActivity" android:exported="false" />
        <activity android:name=".activity.ReturnRequestActivity" android:exported="false" />
        <activity android:name=".activity.HelpCenterActivity" android:exported="false" />
        <activity android:name=".activity.NotificationsActivity" android:exported="false" />
        <activity android:name=".activity.SettingsActivity" android:exported="false" />
        <activity android:name=".activity.TermsActivity" android:exported="false" />
        <activity android:name=".activity.PrivacyPolicyActivity" android:exported="false" />

    </application>

</manifest>